body{
    font-family: cursive;
    color: #fff;
    background-color: #000;
}

table tr th, table tr td{
    padding: 5px 10px;
}

table tr .cabecalho-moda{
    background-color: #BB86FC;
    font-size: 18px;
}

table tr .cabecalho-casa{
    background-color: #00c4b4;
    font-size: 20px;
}

table tr .cor-fundo-tabela{
    background-color: #424250;
}

